@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

:root {
    --cor-sucesso: #4caf50;
    --cor-erro: #ff4d4d;
    --cor-branco: #fff;
    --cor-cinza: #cdd0d3b2;
    --cor-cinza-claro: #cdd0d3;
    --cor-fundo: #fff;
    --cor-texto: #B17457;
    --cor-fundo-card: #4A4947 ;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

/* NAV BAR COMEÇO */

* {
    margin: 0;
    padding: 0;
}


nav {
    background-color: #4A4947;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;    
}

.logo {
    text-transform: uppercase;
    letter-spacing: 4px;
}

a {
    color: #D8D2C2;
    text-decoration: none;
    transition: 0.4s;
}

a:hover {
    color: #B17457;
    opacity: 0.7;
}

ul {
    display: flex;
    list-style: none;
    gap: 50px;
    letter-spacing: 2px;
}

/* NAV BAR FIM */

body {
    background: var(--cor-fundo);
    color: var(--cor-texto);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 5px 20px; 
    
}

.container-view {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 10px;

    .imgView {
        padding-top: 80px;
        width: 200px;
        height: 300px;
    }

    .view {
        max-width: 50vh;
        padding: 20px;
    }
}

.container-info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

    .info {
    width: 80%;
    display: flex;
    flex-direction: column;

    }
    
    input {
        min-width: 200px;
    }
    
    label {
        display: flex;
        padding: 20px;
    }
}


.notificacao {
    position: fixed;
    top: 20px;
    right: 20px;
    color: var(--cor-branco);
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 999;

    &.sucesso {
        background-color: var(--cor-sucesso);
    }

    &.erro {
        background-color: var(--cor-erro);
    }
}

.acao {
    display: flex;
    justify-content: end;

    a {
        text-decoration: none;
    }
        
    button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.table {
    width: 100%;
    border-color: var(--cor-cinza);
    border-collapse: collapse;

    thead, th, tbody, td, tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }

    th, td {
        border-bottom-width: 2px;
        padding: 0.5rem;
        text-align: left;
    }

    /* SELECIONA TODAS AS LINHAS PARES > even=par odd=impar */
    tbody tr:nth-child(even) {
        background-color: var(--cor-cinza-claro);
    }

    tbody tr:hover {
        background-color: var(--cor-cinza);
    }

    .img {
        width:110px;
        height:150px;
        border-radius: 8px;
    }

    button {
        border: none;
        background-color: transparent;
    }

}

/* CARDS HOME COMEÇO */
.card {
    border: none;
    background-color: transparent;
}

.span-filme {
    min-height: 40px;
}

.filmes-lista {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 20px;
}

.filmes-lista .filme {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 180px;
    border-radius: 20px;
    padding: 20px;
    gap: 18px;
    background-image: linear-gradient(var(--cor-fundo-card), #363533);
    box-shadow: 0px 0px 12px 4px rgba(0 ,0 ,0 , 0.3);
    transition: 0.5s;
}

.filmes-lista .filme:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.filmes-lista .filme img {
    width: 200px;
    border-radius: 20px;
}

/* CARDS HOME FIM */